*{
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 231, 230);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: hidden;
    text-align: center;
}
input:focus{
    outline: none;
}