* {
    box-sizing: border-box;
}

body {
    background: rgb(191, 174, 238);
    background: radial-gradient(circle, rgba(191, 174, 238, 1) 15%, rgba(229, 148, 233, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 20%;
    background: rgba(214, 207, 207, 0.7);
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    border: 1px solid transparent;
    border-radius: 20%;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}